$main-font-family: 'Questrial', sans-serif;
$main-font-size: 16px;
$font-x-large: 2rem;
$font-large: 1.5rem;
$font-medium-bold: 1.2rem;
$font-medium: 1rem;
$font-small: 0.5rem;
$font-x-small: 0.25rem;
