@mixin border-middle-fade($color, $height: 1px, $background: transparent) {
  &::after {
    content: '';
    display: block;
    margin: auto;
    height: $height;
    width: 0;
    background: $background;
    transition: width .5s ease,
                background-color .5s ease;
  }

  &:hover {
    &::after {
      width: 100%;
      background-color: $color;
    }
  }
}

@mixin center-vertical() {
  top: 50%;
  transform: translateY(-50%);
}
